[submodule "perses-operator"]
	path = perses-operator
	url = https://github.com/perses/perses-operator.git
	branch = main
[submodule "perses"]
	path = perses
	url = https://github.com/perses/perses.git
	branch = main
